/bin/
/.gradle/
/build/
/out/
/.settings/
/.classpath
/.project
/.idea
/*.iml
/*.ipr
/*.iws
/src/main/resources/static/
/src/angular2/dist/
/src/angular2/node_modules/
/src/angular2/typings/
/node_modules/
/typings/
/app/**/*.js.map/
/app/**/*.js/
