<div class="col-xs-12 col-md-offset-0">
  <div *ngIf="liveCampaigns" class="panel panel-default">
    <div class="panel-heading"><b>Approved & Live bonus campaigns</b></div>
    <sub-campaigns [campaigns]="liveCampaigns" [allowApprove]="allowApprove"></sub-campaigns>
  </div>

  <div *ngIf="processingCampaigns" class="panel panel-default">
    <div class="panel-heading"><b>Pending & Drafting bonus campaigns</b></div>
    <sub-campaigns [campaigns]="processingCampaigns" [allowApprove]="allowApprove"></sub-campaigns>
  </div>

  <div *ngIf="deadCampaigns" class="panel panel-default">
    <div class="panel-heading"><b>Stopped & Expired bonus campaigns</b></div>
    <sub-campaigns [campaigns]="deadCampaigns" [allowApprove]="allowApprove"></sub-campaigns>
  </div>

  <button (click)="addCampaign()">Add New Campaign</button>
</div>




